<html>

<head>
  <div th:replace="layout/fragments :: documentHeader"></div>
</head>

<body>

  <div th:replace="layout/fragments :: pageHeader(${dept.departmentName} + ' 부서 상세 보기')"></div>
  <br><hr>
  <h2 th:text="${dept.departmentName} + ' 부서 상세 정보'"></h2>
  <table th:object="${dept}" class="table table-hover table-striped">
    <tr>
      <th>부서 번호</th>
      <td><a th:href="@{/department/detail/{id}(id=*{departmentId})}" th:text="*{departmentId}"></a></td>
    </tr>
    <tr>
      <th>부서 이름</th>
      <td><a th:href="@{/department/detail/{id}(id=*{departmentId})}" th:text="*{departmentName}"></a></td>
    </tr>
    <tr>
      <th>매니저 이름</th>
      <td>
        <th:block th:if="*{manager != null}">
          <a th:href="@{/employee/detail(id=*{manager.id})}"
            th:text="*{manager.firstName} + ' ' + *{manager.lastName}"></a>
        </th:block>
      </td>
    </tr>
    <tr>
      <th>소속 지역</th>
      <td><a th:href="@{/location/detail(id=*{location.id})}" th:text="*{location.city}"></a></td>
    </tr>
    <tr>
      <th>소속 국가</th>
      <td>
        <a th:href="@{/country/detail(id=*{location.country.id})}" th:text="*{location.country.cName}"></a>
      </td>
    </tr>
    <tr>
      <th>소속 대륙</th>
      <td>
        <a th:href="@{/region/detail(id=*{location.country.region.id})}" th:text="*{location.country.region.regionName}"></a>
      </td>
    </tr>

  </table>
  <br>
  <hr>
  <h2 th:text="${dept.departmentName} + ' 부서 소속 직원'"></h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>사번</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>직무</th>
        <th>부서 이름</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="emp : ${dept.employees}" th:object="${emp}">
        <td><a th:text="*{employeeId}" th:href="@{/employee/detail(id=*{employeeId})}"></a></td>
        <td><a th:text="*{employeeName}" th:href="@{/employee/detail(id=*{employeeId})}"></a></td>
        <td><a th:text="*{phoneNumber}"></a></td>
        <td><a th:text="*{jobTitle}"></a></td>
        <td><a th:text="*{departmentName}" th:href="@{/department/detail(id=*{departmentName})}"></a></td>
      </tr>
    </tbody>
  </table>

  <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
</body>

</html>