<html>

<head>
  <div th:replace="layout/fragments :: documentHeader"></div>
</head>

<body>

  <div th:replace="layout/fragments :: pageHeader('직원 목록')"></div>

  <table class="table table-striped table-hover">
    <thead class="table-light">
      <tr>
        <th>사번</th>
        <th>이름</th>
        <th>핸드폰번호</th>
        <th>직무</th>
        <th>부서 이름</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <!-- 
			모델에서 employees를 가져와서 하나씩 꺼내 emp에 저장.
			emp를 생략해서 사용 가능하도록 오브젝트에 등록
			-->
      <tr th:each="emp : ${page}" th:object="${emp}">
        <td><a th:text="*{employeeId}" th:href="@{/employee/detail(id=*{employeeId})}"></a></td>
        <td><a th:text="*{employeeName}" th:href="@{/employee/detail(id=*{employeeId})}"></a></td>
        <td th:text="*{phoneNumber}"></td>
        <td th:text="*{jobTitle}"></td>
        <td th:text="*{departmentName}"></td>
      </tr>
    </tbody>
  </table>

  <div class="mt-2">
    <ul class="pagination justify-content-center">
      <li class="page-item"
          th:classappend="${!page.hasPrevious} ? 'disabled'">
          <!-- 이전 페이지가 없으면 li태그 비활성화 -->
        <a class="page-link"
            th:href="@{|?p=${page.number - 1}|}">이전</a>
      </li>
      
      <!-- 반복문을 작성해야함. 
          하지만 index가 n 까지인 반복문을 작성해야 하는데
          기본적으로 지원하지 않는다. 
          그래서 #numbers.sequence(n, m)을 사용한다.
          n부터 m까지의 배열을 만들어 준다. 
          {n과 m을 모두 포함함.} 배열의 길이는 {(m - n) + 1}
          
          {0, 1, 2, 3, 4, 5}
          -->
      <li class="page-item" 
          th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}" 
          th:if="${(pageNo >= page.number - 5) && (pageNo < page.number + 5)}" 
          th:classappend="${pageNo == page.number} ? 'active'"
          >
          <!-- th:each ==>page객체의 총 페이지 개수를 가져온다.
            가져올 때 index는 0부터 시작하므로 (-1)해서 페이지 개수와 일치시킨다. -->
          <!-- th:if ===>5 숫자의 의미:
                현재 페이지를 기준으로 한 화면에 최대 5개의 페이지 개수만 보여주게 만들어줌. -->
          <!-- th:classappend ===> ${조건} ? '속성' ==> 조건을 만족하면 해당 태그의 클래스에 '속성'을 추가함. -->
        <a class="page-link" 
            th:text="${pageNo} + 1" 
              th:href="@{|?p=${pageNo}|}"></a>
      </li>

      <li class="page-item" 
      th:classappend="${!page.hasNext} ? 'disabled'">
        <a class="page-link" 
            th:href="@{|?p=${page.number + 1}|}">다음</a>
      </li>
    </ul>
  </div>

  <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
</body>

</html>