<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:fragment="documentHeader">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spring Boot 5</title>
		<!-- 부트스트랩 css 파일 불러오기 -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</th:block>
</head>

<body>
	<!-- 페이지 헤더 -->
	<th:block th:fragment="pageHeader(title)">
		<header>
			<h1 th:text="${title}" class="mt-2 p-2 text-bg-primary text-center"></h1>
		</header>
		<!-- 부트스트랩 네비게이션 바 -->
		<nav class="mt-2 navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">Home</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/post/list}">포스트 목록</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/post/create}">새 포스트</a>
						</li>
						<th:block sec:authorize="isAnonymous()"><!-- 로그인 안 된 상태 -->
							<li class="nav-item">
								<a th:href="@{/member/signin}" class="nav-link">로그인</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/member/signup}" class="nav-link">회원 가입</a>
							</li>
						</th:block>
						<th:block sec:authorize="isAuthenticated()"> <!-- 로그인 된 상태 -->
							<li class="nav-item">
								<!-- spring security에서 로그아웃 기능이 구현된 요청 주소 -->
								<a th:href="@{/logout}" class="nav-link"><!-- /logout은 스프링 시큐리티에서 제공하는 기본 로그아웃 주소 -->
									<span class="text-secondary" sec:authentication="name"></span><!-- 로그인 된 유저의 아이디를 보여줌. -->
									<span class="mx-1 text-primary">로그아웃</span>
								</a> 
							</li>
						</th:block>
					</ul>
				</div>
			</div>
		</nav>
	</th:block>

	<!-- 페이징 처리 -->
	<th:block th:fragment="pagination">
		<nav>
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${!page.hasPrevious} ? 'disabled'">
					<!-- 이전 페이지가 존재하지 않으면 비활성화 -->
					<a class="page-link"
						th:href="@{${baseUrl}(p=${page.number - 1}, category=${param.category}, keyword=${param.keyword})}">이전</a>
					<!-- 요청 주소의 요청파라미터를 현재 페이지 번호 - 1로 변경 -->
				</li>
				<li class="page-item" th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1, 1)}"
					th:if="${pageNo >= page.number -5 && pageNo < page.number + 5}"
					th:classappend="${pageNo == page.number} ? 'active'">
					<!-- numbers의 sequence 메서드를 호출
											페이지 개수만큼 반복되는 코드가 됨. -->
					<!-- 페이지의 개수를 조절하는 if 문 -->
					<!-- 현재 페이지를 강조하는 코드 -->

					<a class="page-link"
						th:href="@{${baseUrl}(p=${pageNo}, category=${param.category}, keyword=${param.keyword})}"
						th:text="${pageNo + 1}"></a>
					<!-- 요청파라미터로 요청주소 설정 -->
					<!-- 페이지 번호 표시: pageNo는 0부터 시작하므로 + 1해줌. -->
				</li>
				<li class="page-item" th:classappend="${!page.hasNext} ? 'disabled'">
					<a class="page-link"
						th:href="@{${baseUrl}(p=${page.number + 1}, category=${param.category}, keyword=${param.keyword})}">다음</a>
				</li>
			</ul>
		</nav>
	</th:block>

	<!-- 부트스트랩 자바스크립트파일 불러오기 -->
	<th:block th:fragment="bootstrapJS">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>
	</th:block>
</body>

</html>