<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- html파일 기본 설정, 부트스트랩 Css 파일 -->
	<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
</head>

<body>
	<!-- pageHeader 불러오기(페이지 제목, 네비게이션 바) -->
	<th:block th:replace="~{/layout/fragments :: pageHeader('포스트 목록')}"></th:block>

	<!-- 전달받은 포스트 목록 테이블 쓰기 -->
	<main>
		<div class="card">
			<div class="card-body">
				<table class="mt-2 table table-hover table-striped">
					<thead>
						<tr>
							<th>No.</th>
							<th>제목</th>
							<th>작성자</th>
							<th>수정시간</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="post : ${page}" th:object="${post}">
							<td th:text="*{id}"></td>
							<td>
								<!-- query string request parameter 방식 요청 주소 -->
								<a th:text="*{title}" th:href="@{/post/details(id=*{id})}"></a>
								<!-- path variable 방식 요청 주소 -->
								<!-- <a th:text="*{title}" th:href="@{/post/details/{id}(id=*{id})}"></a> -->
							</td>
							<td th:text="*{author}"></td>
							<!-- <td th:text="*{modifiedTime}"></td> -->
							<td th:text="*{#temporals.format(modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
						</tr>
					</tbody>
				</table>

				<!-- 페이징 fragment 불러오기 -->
				<th:block th:replace="~{/layout/fragments :: pagination}"></th:block>
				
			</div>
		</div>
	</main>
	<!-- bootstrapJS 불러오기(부트스트랩 자바스크립트 파일) -->
	<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
</body>

</html>