<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Spring Boot 1</title>
</head>

<body>
	<!-- templates/layout/fragments.html 파일에서 선언된 프래그먼트 끼워넣기 
		div 태그 대신 프래그먼트 태그로 교체가 되는 방식.-->
	<!-- 아규먼트를 프래그먼트로 전달하기:
		 프래그먼트 이름 부분에 함수에 아규먼트를 주듯이 전달하면
		 프래그먼트에서 아규먼트를 받아서 사용이 가능하다.
		 [<header th:fragment="myHeader(title)">] => 프래그먼트 선언 부분-->
	<div th:replace="~{/layout/fragments :: myHeader('Home Page')}"></div>

	<!-- fragment expression:
	  templates/layout/fragments.html 에서 선언된 navigation 프래그먼트 끼워넣기.
		div 안에 프래그먼트를 삽입하는 방식.-->	
		<div th:insert="~{/layout/fragments :: navigation}"></div>

	<h1>첫 번째 Spring Boot 프로젝트</h1>
	<h1>첫 번째 Spring Boot 프로젝트</h1>
	<h2 th:text="${currentTime}"></h2>
	<h2 th:text="${book}"></h2>
	<h2 th:text="${book.author}"></h2>
	<div>
		ID: <sapn th:text="${book.id}"></sapn>
		<br>
		제목: <span th:text="${book.title}"></span>
		<br>
		저자: <span th:text="|${book.author.firstName} ${book.author.lastName}|"></span>
	</div>
	<br>
	<!-- selection expression -->
	 <!-- book객체를 계속 사용하여 반복되어 쓰는게 귀찮을 떄 쓰는 문법 -->
	<div th:object="${book}">
		ID: <span th:text="*{id}" />
		<br>
		TITLE: <span th:text="*{title}" />
		<br>
		AUTHOR: <span th:text="|*{author.firstName} *{author.lastName}|" />
		<br>
	</div>

	<nav>
		<ul>
			<li>
				<!-- thymeleaf link(URL) expression
				 			JSTL의 c:url 태그와 비슷한 기능. -->
				<a th:href="@{/book/list}">도서 목록</a>
			</li>
		</ul>
	</nav>
</body>

</html>